//  CSS Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables and Fonts

:root {
  --black: #000;
  --gray: #888;
  --white: #fff;
  --azul-escuro: #007cf0;
  --azul-claro: #00dfd8;
  --roxo: rgb(121, 40, 202);
  --vermelho: rgb(255, 0, 128);
}

*,
input,
button {
  font-family: 'Inter', sans-serif;
}

html {
  background: var(--black);
  color: var(--gray);

  font-size: 62.5%;
}
